.ToDo{
    display: flex;
    flex-direction: column;

    background-color: #d5b59c;
    width: 650px;
    height: 850px;
    margin: 20px 15px;
}
.ToDo .Title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    font-size: 2.0rem;
}

.ToDo .Tasks{
    
    display: flex;
    flex-direction: column;
}
.ToDo .Tasks .List {
    margin: 15px 20px;
    list-style: none;
}